			<div class="wrap">

			<a href="/IAE-Transparency-Space/IAE/"><h1><span>openIAE</span></h1></a>
				
            <a href="https://github.com/GSA/IAE-Transparency-Space/issues" style="float:right; margin-top:10px" target="_blank">Got Questions?</a>
            <a href="http://www.gsa.gov/iae" target="_blank">
                <img style="float:right; margin-top:10px" src="https://www.sam.gov/SAMPortal/img/logo-star.png" alt="IAE logo" height="64px"" width="57px" >
            </a>
          
            <a href="http://www.gsa.gov" target="_blank">
                <img style="float:right; margin-top:10px" src="https://www.sam.gov/SAMPortal/img/logo-gsa.png" alt="GSA logo" width="36px" height="31px"">
            </a>
        	</a>
        	</div>
