<h1 class="page-title"><a href="index.html">IAE Global Repository</a></h1>
      <p class="intro">Access all the information pertaining to the IAE code base.</p>
    <nav>    
        <ul>
          <li><a href="SAMhelps.html" class="SAMhelps">How Can SAM Help Me?</a></li>
          <li><a href="about.html" class="about">About IAE-SAM</a></li>
          <li><a href="repos.html" class="repos">Repositories</a></li>
          <li><a href="resources.html" class="resources">Resources</a></li>
          <li><a href="developer_resources/index.html" class="developer_resources">Developer Resources</a></li>
          <li><a href="https://github.com/SiloSmashers/iae-global/issues"class="communicate">Communicating With Us</a></li>
        </ul>
    </nav>
