
    <nav>    
        <ul>
          <li><a href="about.html" class="basics">About IAE</a></li>
          <li><a href="IAEhelps.html" class="fields">Using this Site</a></li>
          <li><a href="repos.html" class="repos">Repositories</a></li>
          <li><a href="developer_resources/index.html" class="developer_resources">Developer Resources</a></li>
          <li><a href="communicate.html"class="communicate">IAE Systems and Contacts</a></li>
          <li><a href="IAE-next-steps.html"class="communicate">What's New And Next for openIAE?</a></li>
        </ul>
    </nav>
