<h1 class="page-title"><a href="../../../iae-global/blog/index.html">DEVELOPER BLOG</a></h1>
      <p class="intro">Build your own tools using our API to access SAM public data about vendors, grantees and others doing business with the federal government.</p>
    <nav>    
        <ul>
          
	  <li><a href="../../../iae-global/developer_resources/index.html" class="access">Developer Resources Home</a></li>
          <li><a href="../../../iae-global/blog/index.html" class="blog">Blog Home</a></li>
        </ul>
    </nav>
