   <nav>
    <ul class="usa-sidenav-list">
          <li><a href="{{ site.baseurl }}/developer_resources/About_SAM_data/" class="basics">About SAM Data</a></li>
          <li><a href="{{ site.baseurl }}/developer_resources/Using_SAM_data_extracts/" class="basics">Using SAM Data Extracts</a></li>
          <li><a href="https://gsa.github.io/sam_api/sam/" target="_blank" class="basics">Using the SAM API</a></li>
          <li><a href="{{ site.baseurl }}/developer_resources/Using_SAM_web_services/" class="basics">Using SAM Web Services</a></li>
         <!--<li><a href="SAM_kb.html" class="sam_kb">SAM Knowledge Base</a></li>-->
	  <li><a href="{{ site.baseurl }}/developer_resources/Access_SAM_data/" class="access">Accessing SAM Data</a></li>
	  <li><a href="{{ site.baseurl }}/developer_resources/FPDS_data_docs/" class="basics">FPDS Data Documentation</a></li>
	  <li><a href="{{ site.baseurl }}/developer_resources/IAE_Architecture/" class="basics">About IAE Architecture</a></li>
          <!--<li><a href="../blog/" class="blog">Blog</a></li>-->
        </ul>
    </nav>
