<h1 class="page-title"><a href="index.html">Developer Resources</a></h1>
      <p class="intro">Build your own tools using our API to access SAM public data about vendors, grantees and others doing business with the federal government.</p>
    <nav>    
        <ul>
          <li><a href="Using_SAM_api.html" class="using_sam_api">Using the SAM API</a></li>
          <li><a href="Using_SAM_web_services.html" class="using_web_services">Using SAM Web Services</a></li>
          <li><a href="Using_SAM_data_extracts.html" class="using_sam_data_extracts">Using the SAM Data Extracts</a></li>
          <li><a href="SAM_kb.html" class="sam_kb">SAM Knowledge Base</a></li>
	  <li><a href="Access_SAM_data.html" class="access">Accessing SAM Data</a></li>
          <li><a href="../blog/" class="Blog">Blog</a></li>
        </ul>
    </nav>
