<h1 class="page-title"><a href="/iae-global/iae-global/">IAE Global Repository</a></h1>
      <p class="intro">Access all the information pertaining to the IAE code base.</p>
    <nav>    
        <ul>
          <li><a href="/iae-global/iae-global/" class="overview">Overview</a></li>
          <li><a href="/iae-global/iae-global/blog/" class="overview">Developer Blog</a></li>
          <li><a href="https://github.com/SiloSmashers/iae-global" class="console">GitHub Repo</a></li>
          <li><a href="mailto:iaeoutreach@gsa.gov"class="fields">Feedback</a></li>
        </ul>
    </nav>
